body{
    background-color:#020738;
  font-family: Monospace;
  color: white;
  width:100%;
  padding:40px;
  
  font-size: 16px;
  
  }
h1{
    color: white;
    text-align:center;
  
  }
#description{
     color: white;
    text-align:center;
  
  }